@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111111; /* Fondo negro global */
  color: white; /* Texto blanco por defecto */
  font-family: 'Playfair Display', serif; /* Tipografía elegante */
}

/* Animaciones personalizadas */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
